
       body {
    background-image: url("photo/black.png");
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
}

        h1 {
            text-align: center;
            margin-top: 100px;
            color: red;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    background: linear-gradient(45deg, #ff7e5f, greenyellow);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3em;
        }



        form {

            text-align: center;
            max-width: 600px;
            margin: 0 auto;
            background-image: url("photo/2nd back.jpg");
            background-size: cover;
            padding: 10px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        label {
            text-align: center;
            display: block;
            margin-bottom: 10px;
        }

        input[type="text"],
        input[type="checkbox"] {
            margin-bottom: 10px;
        }

        input[type="submit"] {
            background-color: #007bff;
            color: white;
            border: none;
            padding: 10px 20px;
            cursor: pointer;
            border-radius: 3px;
        }

        input[type="submit"]:hover {
            background-color: #0056b3;
        }